# Local environment variables
.env

# Assets collected by Django
static/

# Local client info for NVDB API
nvdbapi-clientinfo.json

# Compiled python bytecode
*.pyc

# Local pytest cache
.pytest_cache/

# pytest-cov and codecov generated reports
.coverage
coverage.xml

# OS X folder files
.DS_Store

# Jetbrains (PyCharm) project config
.idea/
