#index-content {
  height: 100%;
  padding: 16px;
}

#description a {
  text-decoration: none;
  transition: 0.1s;
  color: hsl(35, 100%, 50%);
}

#description a:focus {
  color: hsl(35, 100%, 50%);
  border-bottom: 2px solid;
  outline: none;
}

#description a:hover {
  border-bottom: 2px solid;
}

#description a:active {
  color: inherit;
}

#description a:visited:not(:active) {
  color: hsl(35, 100%, 50%);
}

#buttons {
  display: flex;
  justify-content: space-between;
}

#github {
  width: 36px;
  height: 36px;
}

#github #logo {
  width: 100%;
  height: 100%;
  transition: 0.2s;
  fill: hsl(201, 11%, 30%);
}

#github #logo:hover {
  fill: hsl(35, 100%, 50%);
}

#github #logo:focus {
  outline: none;
  fill: hsl(35, 100%, 65%);
}

#github #logo:active {
  fill: hsl(35, 100%, 65%);
}

#redirects a {
  display: inline-block;
  font-size: inherit;
  padding: 8px;
  min-width: 64px;

  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  color: white;
  background: hsl(35, 100%, 50%);

  transition: 0.2s;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2);
}

#redirects a:not(:last-child) {
  margin-right: 16px;
}

#redirects a:link {
  text-decoration: none;
}

#redirects a:focus {
  outline: none;
  background: hsl(35, 100%, 65%);
}

#redirects a:hover {
  cursor: pointer;
  background: hsl(35, 100%, 65%);
}

#redirects a:active {
  background: hsl(35, 100%, 80%);
}
